<!doctype html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>

    <% include partials/header.ejs %>

    <div id="hero-image">
      <a href="/books"><h1 id="hero-title-books">Star Wars Books</h1></a>
      <a href="/"><h1 id="hero-title-movies">Star Wars Movies</h1></a>
      <a href="#"><h1 id="hero-title-other">Star Wars Misc</h1></a>
    </div>

    <div id="posters-wrapper" class="content-padding clearfix">

      <% for (var i = 0; i < books.length; i++){ %>
        <div class="poster">
          <a href="books/<%= books[i].cannon_number %>">
          <img src="/images/<%= books[i].poster %>" class="img-responsive">

          <div class="poster-info-overlay">
            <h3><%= books[i].title %></h3>
            <h4>View More <i class="fa fa-arrow-right"></i></h4>
          </div>
          </a>
        </div>
      <% } %>

    </div>
    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>
